.App {
  text-align: center;
  
}


.img1{
  width: 70px;
  height: 70px;
}

.img2{
  width: 70px;
  height: 70px;
}

.img3{
  
  width: 70px;
  height: 70px;
}

.chat{
  width:250px;
  height: auto;
}

.images{
  margin-right: 13px;
  padding-bottom: 10px;
}

.friend{
  
  margin-left: 200px;
}

.text1{
  text-align: left;
  width: 250px;
  margin-left: 25px;
}

.o4{
  margin-right: 95px; 
}

.o5{
  margin-right: 100px; 
}

